header,footer{
  font-family: "Segoe UI",Arial, sans-serif;
  vertical-align: middle;
  font-size: 30px;
  background-color: #999;
  height: 25px;
  padding: 25px 50px;
}
.container{
  background-color: #F9F9F9;
  margin: 20px 20px;
  position: relative;
}
.column{
  display: inline-block;
  width: 30%;
}
.column1{
  margin-left: 25%;
  width: 50%;
}
.column2{
  margin-left: 0%;
  width: 25%;
}
.column3{
  margin-left: 75%;
  width: 25%;
}
